<p><a href="https://github.com/organizations/ONSdigital/settings/audit-log">Export the GitHub audit log</a> to a JSON file and upload it here.</p>
<form action="/upload" method="post" enctype="multipart/form-data">
  <fieldset>
    <p><input type="file" name="file"></p>
    <p><input type="submit" value="Upload File"></p>
  </fieldset>
</form>